<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Djelatnosti</h2>
                    <h3 class="section-subheading text-secondary">Zadatak nvu *Crnogorski Vremeplov* iz Cetinja je zaštita Crnogorskog etnosa kroz nekoliko ključnih djelatnosti</h3>
                </div>
            </div>
            <div class="row text-center">
             <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/crnogorska_narodna_nosnja.jpg" alt="">
                    </span>

                    <h4 class="service-heading">Crnogorska narodna nošnja</h4>
                    <p class="text-muted">Prodaja i distribucija ručno radjene nošnje.</p>
                </div>
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/restauracija_fotografija	.jpg" alt="">
                    </span>
                    <h4 class="service-heading">Rastauracija fotografija</h4>
                    <p class="text-muted">Pretvaranje istija u video zapise.</p>
                </div>
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/slikanje_u_etno_stilu.png" alt="">
                    </span>

                    <h4 class="service-heading">Slikanje u etno stilu</h4>
                    <p class="text-muted">Izrada fotografija u Crnogosko etno stilu.</p>
                </div>
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/izrada_etno_frizura.jpg" alt="">
                    </span>
                    <h4 class="service-heading">Izrada etno frizura</h4>
                    <p class="text-muted">Za folklorna društva, medije, pozorišta, svečanosti.</p>
                </div>
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/crnogorska_kuzina.png" alt="">
                    </span>

                    <h4 class="service-heading">Tradicionalna kužina</h4>
                    <p class="text-muted">Očuvanje tradicionalne nacionalne kužine.</p>
                </div>
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/crnogorski_jezik.jpg" alt="">
                    </span>

                    <h4 class="service-heading">Crnogorska pjesma</h4>
                    <p class="text-muted">Očuvanje Crnogorske izvorne pjesme.</p>
                </div>
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/crnogorski_rijecnik	.jpg" alt="">
                    </span>

                    <h4 class="service-heading">Crnogorski riječnik</h4>
                    <p class="text-muted">Očuvanje starog Crnogorskog rječnika.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/crnogorska_zlatna_roba.png" alt="">
                    </span>

                    <h4 class="service-heading">Crnogorska zlatna roba</h4>
                    <p class="text-muted">Edukacija o izradi Crnogorske zlatne robe.</p>
                </div>
                <div class="col-md-4">
                <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/cetinjska_gradska_kuca.jpg" alt="">
                    </span>

                    <h4 class="service-heading">Cetinjska gradska kuća</h4>
                    <p class="text-muted">Očuvanje starog arhitektonskog izgleda kuća.</p>
                </div>
                 <div class="col-md-4">
                 <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/about/2.jpg" alt="">
                    </span>

                    <h4 class="service-heading">Po$eta Poseljanima</h4>
                    <p class="text-muted">Obilazimo starije :-)</p>
                </div>
                 <div class="col-md-4">
                 <span class="fa-stack fa-4x">
                        <img class="img-thumbnail img-responsive" src="img/djelatnosti/cetinjska_kuca.jpg" alt="">
                    </span>

                    <h4 class="service-heading">Crnogorska nahija</h4>
                    <p class="text-muted">Očuvanje tradicionalne arhitekture Crnogorskija nahija</p>
                </div>   
            </div>
        </div>
    </section>