<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontaktirajte nas</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" action="https://formspree.io/starocrnogorskivremeplov@gmail.com"
      method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Vaše ime *" id="name">
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Vaš email *" id="email">
                                    
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="+ tel *" id="phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Vaša poruka *" id="message" ></textarea>
                                    
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <input type="text" name="_gotcha" style="display:none" />
                  <input type="hidden" name="_next" value="http://starocrnogorskivremeplov.github.io" />
                                <button type="submit" class="btn btn-xl">Pošalji poruku</button>
                            </div>
                        </div>
                    </form>
                    <script>
    var contactform =  document.getElementById('contactform');
    contactform.setAttribute('action', '//formspree.io/' + 'starocrnogorskivremeplov' + '@' + 'gmail' + '.' + 'com');
</script>
                </div>
            </div>
        </div>
    </section>


